
body {
    background-color: #4E7AFF;
}

@media screen and (min-width: 450px) {

    /* HEADER */
    header {
        display: flex;
    }

    #logo {
        height: 10%;
        width: 10%;
    }

    nav {
        text-align: center;
        flex: auto;
    }

    nav ul {
        display: inline-block;
        margin: 0;
    }

    nav li {
        display: inline-block;
        color: white;
    }

    nav a:visited {
        color: white;

    }

/* FIN HEADER  */
    #titre {
        color: white;
        margin-top: 50px;
    }


    #lesSeries {
        display: flex;

    }
    .serie {
        flex: auto;
        border-style: groove;
        width: 250px;
        height: 250px;
        margin: 10px;
        padding-left: 10px;
    }
    .serie a {
        position: relative;
        text-decoration: none;
        color: #FFFFFF;
    }
    form{
        color: white;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #lesSeriesFav{

        display: flex;
    }

    #seriefav{
        flex: auto;
        border-style: groove;
        width: 250px;
        height: 250px;
        margin-top: 10px;
        margin-left: 10px;

    }
    #serie:hover #titre_fav{
        display: block;
    }
    #titre_fav{
        display: none;
        background-color: white;
        margin-bottom: 10px;

    }
}









@media screen and (max-width: 450px) {

    body{
        background-color: red;
    }

    /* HEADER */
    header {
        display: flex;
    }

    #logo {
        height: 10%;
        width: 10%;
    }

    nav {
        text-align: center;
        flex: auto;
    }

    nav ul {
        display: inline-block;
        margin: 0;
    }

    nav li {
        display: inline-block;
        color: white;
    }

    nav a:visited {
        color: white;

    }


    #titre {
        color: white;
        margin-top: 50px;
    }


    #lesSeries {
        display: flex;

    }

    #serie {
        flex: auto;
        border-style: groove;
        width: 35px;
        margin-top: 10px;
        margin-left: 10px;
    }

}

